@function mothereffingtextshadow($color, $amount: 10, $offset: 0, $blur: 0, $dx: 1px, $dy: 1px) {
    $output: '';

    @for $i from 1 through $amount {
        
        $x: $dx * ($i + $offset);
        $y: $dy * ($i + $offset);
        
        $output: $output + '#{$color} #{$x} #{$y} #{$blur}';
        @if $i < $amount {
            $output: $output + ', ';
        }
    }
    @return unquote($output);
}