@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";

@import '../functions/_functions.scss';


// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: 10px;

@mixin rem($property, $px-values) {
// Convert the baseline into rems
$baseline-rem: $baseline-px / 1rem;
// Print the first line in pixel values
#{$property}: $px-values;
// If there is only one (numeric) value, return the property/value line for it.
@if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
    @else {
// Create an empty list that we can dump values into
$rem-values: unquote("");
@each $value in $px-values {
// If the value is zero, return 0
@if $value == 0 {
    $rem-values: append($rem-values, $value); }
    @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
// Return the property and its list of converted values
#{$property}: $rem-values; } }

@mixin fontspring-font-face($family, $file, $svg_hash: $file, $weight: false, $style: false) {

    @font-face {
        font-family: quote($family);
        src: font-url("#{$file}.eot");
        src: font-url("#{$file}.eot?#iefix") format('eot'), inline-font-files("#{$file}.woff", woff, "#{$file}.ttf", truetype), font-files("#{$file}.svg##{$svg_hash}");

        @if $weight {
            font-weight: $weight;
        }
        @if $style {
            font-style: $style;
        }
    }
}



@mixin hobo-font-face($family, $file, $svg_hash: $file, $weight: false, $style: false) {

    @font-face {
        font-family: quote($family);
        src: font-url("#{$file}.eot");
        src: font-url("#{$file}.eot?#iefix") format('eot'), font-files("#{$file}.svg##{$svg_hash}");

        @if $weight {
            font-weight: $weight;
        }
        @if $style {
            font-style: $style;
        }
    }

    @font-face {
        font-family: quote($family);

        src: inline-font-files("#{$file}.woff", woff, "#{$file}.ttf", truetype);

        @if $weight {
            font-weight: $weight;
        }
        @if $style {
            font-style: $style;
        }
    }
}

@mixin filter-rotate( $degrees, $include_transform: false ) {

    @if $include_transform {
        @include rotate($degrees);
    }

    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    zoom: 1;
}

@mixin image-replacement($img, $width: image-width($img), $height: image-height($img), $x: 0, $y: 0) {
    display: block;
    background: image-url($img) no-repeat $x $y;
    width: $width;
    height: $height;
    overflow: hidden;

    background-size: $width $height;


//text-indent: -9999em;

text-indent: 100%;
white-space: nowrap;
}

@mixin selection-color($selection_color, $text_color: white, $text_shadow: none) {
    ::-moz-selection { background: $selection_color; color: $text_color; text-shadow: $text_shadow; }
    ::selection { background: $selection_color; color: $text_color; text-shadow: $text_shadow; }
}

@mixin mothereffing-text-shadow($color, $amount: 10, $offset: 0, $blur: 0, $dx: 1px, $dy: 1px) {
    @include text-shadow(mothereffingtextshadow($color, $amount, $offset, $blur, $dx, $dy));
}


@mixin embossed-border($highlight_color, $shade_color, $width: 1px, $location: 'bottom') {

    $hfactor: 0;
    $vfactor: 0;

    @if $location == 'top' {
        $hfactor: 0;
        $vfactor: -1;
    } @else if $location == 'right' {
        $hfactor: 1;
        $vfactor: 0;
    } @else if $location == 'bottom' {
        $hfactor: 0;
        $vfactor: 1;
    } @else if $location == 'left' {
        $hfactor: -1;
        $vfactor: 0;
    }

    @if $location == 'top' or $location == 'right' {
        $temp_color: $shade_color;
        $shade_color: $highlight_color;
        $highlight_color: $temp_color;
    }

    $hoff: $width * $hfactor;
    $voff: $width * $vfactor;

    $width_prop: 'border-#{$location}-width';
    $style_prop: 'border-#{$location}-style';
    $color_prop: 'border-#{$location}-color';

    margin-#{$location}: 1px;

    #{$width_prop}: $width;
    #{$style_prop}: solid;
    #{$color_prop}: $shade_color;

    @include single-box-shadow($hoff, $voff, 0, 0, $highlight_color);
}


@mixin embossed-border-top($highlight_color, $shade_color, $width: 1px) {
    @include embossed-border($highlight_color, $shade_color, $width, 'top');
}

@mixin embossed-border-right($highlight_color, $shade_color, $width: 1px) {
    @include embossed-border($highlight_color, $shade_color, $width, 'right');
}

@mixin embossed-border-bottom($highlight_color, $shade_color, $width: 1px) {
    @include embossed-border($highlight_color, $shade_color, $width, 'bottom');
}

@mixin embossed-border-left($highlight_color, $shade_color, $width: 1px) {
    @include embossed-border($highlight_color, $shade_color, $width, 'left');
}
